@model Store.App.ViewModels.ErrorViewModel
@{ 
    ViewData["Title"] = "Ocorreu um erro";
}

@{ 
    if(Model == null)
    {
        <div>
            <h4>Ops! Ocorreu um erro. Nosso time será avisado e iremos corrigir em breve!</h4>
        </div>
    }
    else
    {
        <h3>@Html.Raw(Model.Titulo)</h3>
        <h4 class="text-danger">@Html.Raw(Model.Mensagem)</h4>
    }
}