@model IEnumerable<Store.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h3>@ViewData["Title"]</h3>
<hr />
<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>
<partial name="_ListaProdutos" />
